<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">

    <div class="container">
        <div class="card">
            <div class="card-header">
                Add __Category
            </div>
            <div class="card-body">
                <form  method="POST">
                    <div class="form-group">
                        <label for="__CategoryTitle">__Category Title</label>
                        <input type="text"
                               class="form-control"
                               id="__CategoryTitle"
                               name="__CategoryTitle"
                               placeholder="__Category goes here..">
                    </div>
                    <div class="form-group">
                        <label for="category">Parent _Category</label>
                        <select class="form-control" id="category"  name="category">
                            <option th:value="phone" >Phone</option>
                            <option th:value="PC">PC</option>
                            <option th:value="Laptop">Laptop</option>
                            <option th:value="Battery">Battery</option>
                            <option th:value="Light">Light</option>
                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Category">
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>