<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">

    <div class="container">
        <div class="card">
            <div class="card-header">
                Add Category
            </div>
            <div class="card-body">
                <form  method="POST" th:action="@{/save/category}" th:object="${category}">
                    <div class="form-group">
                        <label for="categoryTitle">Category Title</label>
                        <input type="text"
                               class="form-control"
                               id="categoryTitle"
                               name="categoryTitle"
                               th:field="*{categoryTitle}"
                               placeholder="category Title goes here..">
                    </div>

                    <div class="form-group">
                        <label for="ParentCategoryTitle">Parent Category</label>
                        <select class="form-control"
                                id="ParentCategoryTitle"
                                name="parentCategoryTitle"
                                th:field="*{parentCategoryId}">

                            <option th:each="pc : ${parentCategories}" th:value="${pc.id}" th:text="${pc.parentCategoryTitle}"/>

                        </select>
                    </div>

                    <input type="submit" class="btn btn-primary" value="Add Category">
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>