<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">

    <div class="container">
        <div class="card">
            <div class="card-header">
                Category List
                <span th:if="${categories.empty}">
                   <a class="float-right btn btn-danger text-white" >Service is down </a>
                </span>
                <span th:if="!${categories.empty}">
                <a class="float-right btn btn-primary"  th:href="@{/category/add}">Add Category</a>
                <a class="float-right btn btn-primary mr-1"  th:href="@{/parent-category/add}">Add _Category</a>
                <a class="float-right btn btn-primary  mr-1"  th:href="@{/grand-parent-category/add}">Add __Category</a>
                </span>
            </div>
            <div class="card-body">
                <table class="table table-hover">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Category</th>
                        <th scope="col">_Category</th>
                        <th scope="col">__Category</th>
                        <th scope="col" colspan="2" class="text-center">Action</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr th:if="${categories.empty}">
                        <td colspan="5" class="text-center bg-danger text-white"> No Categories Available Or Service is down </td>
                    </tr>

                    <tr th:each="category: ${categories}">
                        <td scope="row">1</td>
                        <td th:text="${category.categoryTitle}" />
                        <td th:text="${category.parentCategory.parentCategoryTitle}" />
                       <td th:text="${category.parentCategory.grandParentCategory.grandParentCategoryTitle}" />

                        <td>
                            <a th:href="@{/category/edit/{id}(id=${category.id})}"
                               class="btn btn-primary">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>

                        <td>
                            <a th:href="@{/category/remove/{id}(id=${category.id})}"
                               class="btn btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>

                    </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>