<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Edit Parent Category Title

                        <a class="float-right btn btn-primary"  th:href="@{/parent-category/add}">Back</a>

                    </div>
                    <div class="card-body">
                        <form  method="POST" th:action="@{/update/parent-category}" th:object="${parentCategory}">
                            <div class="form-group">
                                <label for="ParentCategoryTitle">Parent Category Title</label>
                                <input type="text"
                                       class="form-control"
                                       id="ParentCategoryTitle"
                                       th:field="*{parentCategoryTitle}"
                                       name="parentCategoryTitle"
                                       placeholder="Parent Category Title goes here..">
                            </div>


                                <div class="form-group">
                                    <label for="grandParentCategoryId">Grand Parent Category</label>
                                    <select class="form-control"
                                            id="grandParentCategoryId"
                                            name="grandParentCategoryId"
                                            th:field="*{grandParentCategoryId}">

                                        <tr th:if="${grandParentCategories.empty}">
                                            <td colspan="5" class="text-center bg-danger text-white"> No Categories Available Or Service is down </td>
                                        </tr>
                                        <option th:text="${parentCategory.grandParentCategory.grandParentCategoryTitle}"
                                                th:value="${parentCategory.grandParentCategory.id}" selected></option>

                                        <option th:each="gc : ${grandParentCategories}"
                                                th:value="${gc.id}"
                                                th:text="${gc.grandParentCategoryTitle}"/>

                                    </select>
                                </div>

                            <input type="hidden"  th:field="*{id}" name="id" id="id">
                            <input type="submit" class="btn btn-primary" value="update Category">
                        </form>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
</body>
</html>