<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout/layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">

    <div class="container">
        <div class="card">
            <div class="card-header">
                Add Parent Category Title

                <a class="float-right btn btn-primary"  th:href="@{/categories}">Back</a>

            </div>
            <div class="card-body">
                <form  method="POST" th:action="@{/save/parent-category}" th:object="${parentCategory}">
                    <div class="form-group">
                        <label for="ParentCategoryTitle">Parent Category Title</label>
                        <input type="text"
                               class="form-control"
                               id="ParentCategoryTitle"
                               th:field="*{parentCategoryTitle}"
                               name="parentCategoryTitle"
                               placeholder="Parent Category Title goes here..">
                    </div>
                    <div class="form-group">
                        <label for="GrandParentCategoryTitle">Grand Parent Category</label>


                        <select class="form-control"
                                id="GrandParentCategoryTitle"
                                name="grandParentCategory"
                                th:field="*{grandParentCategoryId}">

                            <span th:if="${grandParentCategories.empty}">
                                <option class="text-center bg-danger text-white" th:value="0">Service is Down</option>
                            </span>

                            <option th:each="gc : ${grandParentCategories}"
                                    th:value="${gc.id}"
                                    th:text="${gc.grandParentCategoryTitle}"/>

                        </select>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Category">
                </form>
            </div>
        </div>
    </div>

</div>
</body>
</html>