* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader-area {
  margin-left: 45%;
  margin-top: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 255);
}
.loader {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.dot {
  width: .75em;
  height: .75em;
  border-radius: 50%;
  background: rgb(0, 0, 0);
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
}
@keyframes loader_left {
  0%   { opacity: .8; }
  20%   { opacity: .3; }
  40%   { opacity: .8; }
  60%   { opacity: 1; }
  100% { opacity: 1; }
}
@keyframes loader_middle {
  0% { opacity: 1; }
  20%   { opacity: .8; }
  40%   { opacity: .3; }
  60%   { opacity: .8; }
  100% { opacity: 1; }
}
@keyframes loader_right {
  0% { opacity: 1; }
  20%   { opacity: 1; }
  40%   { opacity: .8; }
  60%   { opacity: .3; }
  100% { opacity: 1; }
}
.dot:nth-of-type(1) {
  animation-name: loader_left;
}
.dot:nth-of-type(2) {
  animation-name: loader_middle;
}
.dot:nth-of-type(3) {
  animation-name: loader_right;
}